{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock %}

{% block content %}

<main class="edit-container">

    <h2 class="edit-title">내 정보 수정</h2>

    <!-- 🔹 프로필 이미지 -->
    <div class="profile-img-box">
        <img src="{% static 'img/profile.png' %}" alt="profile">
    </div>

    <!-- 🔹 입력 폼 -->
    <form method="post" class="edit-form">
        {% csrf_token %}

        <label>ID</label>
        <input type="text" placeholder="아이디" name="username" value="{{ username }}" readonly>

        <label>Name</label>
        <input type="text" placeholder="이름" name="name" value="{{ name }}" required>

        <label>E-mail</label>
        <input type="email" placeholder="이메일" name="email" value="{{ email }}" required>

        <label>PW</label>
        <input type="password" placeholder="비밀번호 (변경 시에만 입력)" name="password">

       {% if error %}
            <p class="error-text">{{ error }}</p>
        {% endif %}

       <!-- 🔹 회원 탈퇴 -->
        <a href="#" class="delete-link">회원탈퇴</a>

        <!-- 🔹 저장하기 버튼 -->
        <button type="submit" class="save-btn">저장하기</button>
    </form>


</main>

{% endblock %}
